@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200&family=Playfair+Display:wght@900&family=Satisfy&family=Signika:wght@500&family=Xanh+Mono&display=swap');

.menuabout {
    letter-spacing: 3px;

}

.menuabout {
    font-size: 1.25em;
    text-decoration: none;
    float: left;
    display: block;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding: 16px 15px;
    text-decoration: none;
}


/*
 .panel {
     margin-left: 2em;
     font-size: 16px;
     border: 1px solid gray;
     display: none;
 }


.panel a:hover {
    color: darkgoldenrod;
    transition: 0.5s;
}
*/





/*information side tab*/



 

/*------------------------------*/







